html, body, h1, h2, h3, h4, h5, h6, form, ul, ol, li, p, table, td, th, img, fieldset, input { margin: 0px; padding: 0px; border: 0px none; }
body { padding: 5px; font-family: arial,serif; font-size: 12px; background: inherit; }
a { color: rgb(119, 119, 119); }
a:hover { color: rgb(0, 0, 0); }
.im_client { background: rgb(255, 255, 255) none repeat scroll 0% 0%; border: 1px solid rgb(217, 217, 217); border-radius: 7px 7px 0px 0px; box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3); width: 300px; max-width: 300px; display: inline-block; position: absolute; bottom: 0px; }
.im_title { background: rgb(164, 0, 230) none repeat scroll 0% 0%; border-radius: 5px; padding: 7px 10px; margin: 2px; color: rgb(255, 255, 255); font-size: 13px; font-weight: bold; cursor: pointer; }
.im_panel { float: right; padding: 0px; margin: 0px; }
.im_title_buttons { cursor: pointer; background-image: url("arrow.png"); background-repeat: no-repeat; background-position: 0px center; width: 16px; height: 18px; display: inline-block; float: left; }
.cloudim-chat-label { cursor: pointer; background-image: url("cloudim-chat-label.png"); background-repeat: no-repeat; background-position: 0px 0px; width: 59px; height: 14px; display: inline-block; position: relative; top: 3px; float: left; }
.cloudim-chat-label:hover { background-position: 0px -14px; }
.im_head_title { width: 190px; float: left; white-space: nowrap; overflow: hidden; background: transparent none repeat scroll 0% 0%; position: relative; top: 2px; cursor: pointer; color: rgba(255, 255, 255, 0.9); }
.im_head_title:hover { color: rgb(255, 255, 255); }
.im_toggle { margin-right: 3px; background-position: 0px center; }
.im_clear { clear: both; }
.im_rate_block { position: absolute; }
.im_rate { padding: 5px; height: 25px; background-color: rgb(238, 238, 238); color: rgb(119, 119, 119); position: relative; bottom: 1px; width: 290px; z-index: 8; text-align: center; border-top: 1px solid rgb(239, 239, 239); border-bottom: 1px solid rgb(208, 208, 208); }
.im_rate .rate-label { font-size: 13px; }
.rate-message { padding-top: 5px; }
.im_rate .btn-rate { background-image: url("rate3.png"); background-repeat: no-repeat; background-position: left top; cursor: pointer; display: inline-block; height: 18px; width: 15px; margin: 0px 5px; position: relative; top: 3px; }
.im_rate .btn-good { background-position: 0px 0px; }
.im_rate .btn-bad { background-position: -15px 0px; }
.im_vcard { padding: 5px 10px 10px; border-bottom: 1px dashed rgb(221, 221, 221); }
.im_vcard_avatar { float: left; width: 50px; border: 1px solid rgb(240, 240, 240); border-radius: 5px; box-shadow: 0px 2px 3px rgb(204, 204, 204); }
.im_vcard_avatar img { border-radius: 5px; }
.im_vcard_fullname { font-size: 14px; color: rgb(85, 85, 85); }
.im_vcard_data { float: left; margin-left: 10px; width: 200px; }
.im_welcome { padding: 5px 10px 0px; cursor: pointer; display: none; }
.im_welcome .im_avatar { float: left; margin: 0px 10px 10px 0px; border: 1px solid rgb(240, 240, 240); border-radius: 5px; }
.im_welcome .im_message { padding-bottom: 10px; overflow-wrap: break-word; }
.im_welcome .im_vcard_fullname { display: block; margin-bottom: 5px; }
.im_main { display: none; }
.im_chat { clear: both; padding: 10px; }
.im_time { float: right; color: rgb(187, 187, 187); font-size: 10px; }
.im_history { height: 250px; overflow: auto; }
.im_history .im_message { clear: both; overflow-wrap: break-word; }
.im_sys { color: rgb(119, 119, 119); margin-bottom: 5px; }
.im_form { padding: 10px 15px 10px 10px; border-top: 1px dashed rgb(204, 204, 204); }
textarea { border: 1px solid rgb(221, 221, 221); color: rgb(176, 176, 176); width: 220px; height: 40px; font-size: 13px; padding: 3px; float: left; resize: none; overflow-y: hidden; outline: 0px none; border-radius: 4px; box-shadow: 0px 1px 3px rgb(179, 179, 179) inset, 0px 1px 0px rgba(255, 255, 255, 0.5); }
.im_enter { float: left; font-size: 10px; margin-left: 10px; margin-top: 2px; cursor: pointer; }
.im_enter:hover { padding-top: 1px; padding-left: 1px; }
.im_footer { padding: 0px 10px 7px; font-size: 10px; text-align: right; color: rgb(85, 85, 85); }
.im_footer a { color: rgb(0, 108, 241); }
.im_footer a:hover { color: rgb(15, 31, 232); }
#im_user_profile_form { display: none; }
.overlay { position: absolute; width: 294px; height: 405px; left: 3px; background-color: rgb(0, 0, 0); opacity: 0.7; z-index: 10; border-radius: 5px; }
.overlay-message { position: absolute; padding: 5em 2em; color: rgb(255, 255, 255); font-size: 14px; z-index: 15; text-shadow: 0px -1px 0px rgb(0, 0, 0); }
.im_offline { padding: 10px 15px 10px 10px; }
.im_offline fieldset { color: rgb(51, 51, 51); background-color: rgb(255, 255, 255); padding: 10px; }
.im_offline fieldset > div { margin: 10px 0px; }
.im_offline fieldset > p { font-size: 15px; }
.im_offline input[type="text"] { border: 1px solid rgb(204, 204, 204); padding: 3px; width: 235px; border-radius: 4px; font-size: 13px; box-shadow: 0px 1px 3px rgb(179, 179, 179) inset, 0px 1px 0px rgba(255, 255, 255, 0.5); }
.im_offline input#offline_email { width: 145px; height: 21px; }
.im_offline #offlineBtn { position: relative; top: 14px; }
.im_offline textarea { width: 247px; margin-bottom: 10px; color: rgb(51, 51, 51); height: 110px; }
.im_user_profile { color: rgb(51, 51, 51); position: absolute; height: 410px; z-index: 9999; }
.im_user_profile fieldset { background-color: rgb(255, 255, 255); padding: 10px; margin: 85px 15px; width: 245px; border: 1px solid rgb(187, 187, 187); border-radius: 10px; box-shadow: 0px 0px 10px rgb(175, 175, 175); }
.im_user_profile fieldset > div { margin: 10px 0px; }
.im_user_profile fieldset > p { font-size: 15px; }
.im_user_profile div.submit { text-align: center; }
.im_user_profile input[type="text"] { border: 1px solid rgb(204, 204, 204); border-radius: 3px; padding: 3px; width: 235px; }
.im_user_profile input[type="submit"] { border: 1px solid rgb(153, 153, 153); border-radius: 5px; background: transparent linear-gradient(rgb(247, 247, 247), rgb(209, 209, 209)) repeat scroll 0% 0%; color: rgb(51, 51, 51); text-shadow: 0px 1px 1px rgb(255, 255, 255); padding: 3px 10px; }
.im_user_profile input[type="submit"]:active { border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0); }
.im_user_profile input[type="submit"]:hover { border: 1px solid rgb(0, 0, 0); color: rgb(0, 0, 0); }
.operators-list { background: transparent url("chat_op_bg.png") repeat scroll 0% 0%; width: 300px; max-width: 300px; display: inline-block; padding: 0px; overflow: auto; height: 400px; position: absolute; z-index: 1001; }
.operators-list .operator { margin: 5px; padding: 5px; cursor: pointer; }
.operators-list .operator:hover { background-color: rgb(255, 255, 255); box-shadow: 0px 1px 5px rgb(204, 204, 204); border-radius: 5px; transition: all 0.2s linear 0s; }
.operator .operator-avatar { float: left; box-shadow: 0px 2px 3px rgb(204, 204, 204); border-radius: 5px; width: 35px; height: 35px; }
.operator .operator-avatar img { width: 35px; height: 35px; border-radius: 5px; }
#im_client { width: 300px; max-width: 300px; padding: 0px; display: none; }
#im_manager_selector { display: none; }
#im_connect_status { padding: 200px 5px; text-align: center; }
#log { display: none; position: absolute; height: 150px; width: 800px; overflow: auto; border: 1px solid rgb(119, 119, 119); }
.btn { text-decoration: none; height: inherit; display: inline-block; padding: 4px 10px; margin-bottom: 0px; font-size: 13px; line-height: 18px; color: rgb(51, 51, 51); text-align: center; text-shadow: 0px 1px 1px rgba(255, 255, 255, 0.75); vertical-align: middle; cursor: pointer; background-color: rgb(245, 245, 245); background-image: -moz-linear-gradient(center top , rgb(255, 255, 255), rgb(230, 230, 230)); background-repeat: repeat-x; border-width: 1px; border-style: solid; -moz-border-top-colors: none; -moz-border-right-colors: none; -moz-border-bottom-colors: none; -moz-border-left-colors: none; border-image: none; border-color: rgb(230, 230, 230) rgb(230, 230, 230) rgb(179, 179, 179); border-radius: 4px; box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.2) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] { background-color: rgb(230, 230, 230); }
.btn:active, .btn.active {  }
.btn:first-child {  }
.btn:hover { color: rgb(51, 51, 51); text-decoration: none; background-color: rgb(230, 230, 230); background-position: 0px -15px; transition: background-position 0.1s linear 0s; }
.btn:focus { outline: thin dotted rgb(51, 51, 51); outline-offset: -2px; }
.btn.active, .btn:active { background-color: rgb(230, 230, 230); background-image: none; outline: 0px none; box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.15) inset, 0px 1px 2px rgba(0, 0, 0, 0.05); }
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover { color: rgb(255, 255, 255); text-shadow: 0px -1px 0px rgba(0, 0, 0, 0.25); }
.btn { border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-success { background-color: rgb(91, 183, 91); background-image: -moz-linear-gradient(center top , rgb(98, 196, 98), rgb(81, 163, 81)); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] { background-color: rgb(81, 163, 81); }
.btn-success:active, .btn-success.active {  }
.btn-info { background-color: rgb(73, 175, 205); background-image: -moz-linear-gradient(center top , rgb(91, 192, 222), rgb(47, 150, 180)); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] { background-color: rgb(47, 150, 180); }
.btn-info:active, .btn-info.active {  }
.btn-inverse { background-color: rgb(65, 65, 65); background-image: -moz-linear-gradient(center top , rgb(85, 85, 85), rgb(34, 34, 34)); background-repeat: repeat-x; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25); }
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] { background-color: rgb(34, 34, 34); }
.btn-inverse:active, .btn-inverse.active {  }
